.price {
  width: 100%;
  background-color: @bg-blue;
}

.price__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 32px 24px;
  position: relative;

  @media (min-width: @desktop-width) {
    padding: 40px 24px;
  }
}

.price__list {
  .list-reset();
  margin-bottom: 24px;

  @media (min-width: @desktop-width) {
    display: flex;
    margin-bottom: 32px;
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  margin-bottom: 14px;
  background-color: @white-basic;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 255px;
    margin-bottom: 0;
    margin-right: 30px;
    min-height: 335px;
    box-sizing: border-box;
    

    &:last-child {
      margin-right: 0;
    }
  }
}

/**Text**/

.price__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
}

.price__bold {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: @decor-blue;
  margin: 0;


}

.price__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: @desktop-width) {
    margin-bottom: auto;
  }
}


/**Button**/

.price__button {
  .button ();
  margin: 0 auto;
  width: 100%;

  @media(min-width: @tablet-width) {
      width: auto;
      padding: 14px 32px;

      &--form  {
          padding: 0 12px;
      }
  }
}

.price__button:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2); 
}

.price__button:active {
  border: 2px solid @base-font;
  color: @base-font;
}

/**Pop-up**/
.price__popup {
  display: none;
}

.price__popup.active {
  display: block;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 84px;
  left: 0;
}

.price__popup-wrapper {
  background-color: @bg-blue;
  padding: 32px 24px;
  max-width: 1110px;
  margin: 0 auto;
 


  @media (min-width: @desktop-width) {
    padding: 32px 0;
  }
}

.price__table {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: @white-basic;


  @media (min-width: @tablet-width) {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.price__table td {
  border: 1px solid #bdcee4;
  padding: 0 4px;

  @media (min-width: @tablet-width) {
    padding: 9px 24px;
  }
}

.price__table td:nth-of-type(3),
.price__table td:nth-of-type(4) {
  text-align: center;
}

.price__table caption {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: @black-basic;
  margin-bottom: 24px; 
  
  @media (min-width: @desktop-width) {
    font-size: 52px;
    line-height: 72px;
  }
}


.blue-bg {
  background-color: @bg-blue; 
  font-weight: 400;
}



