@font-face {
  font-family: "Alef";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alef Regular"),
    local("Alef-Regular"),
    url("../fonts/Alef-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Alef";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alef Bold"),
    local("Alef-Bold"),
    url("../fonts/Alef-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Qanelas Regular"),
    local("Qanelas-Regular"),
    url("../fonts/Qanelas-Regular.ttf") format("ttf"),
    url("../fonts/Qanelas-Regular.woff2") format("woff2"),
    url("../fonts/Qanelas-Regular.woff") format("woff");
}

@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Qanelas Bold"),
    local("Qanelas-Bold"),
    url("../fonts/Qanelas-Bold.ttf") format("ttf"),
    url("../fonts/Qanelas-Bold.woff2") format("woff2"),
    url("../fonts/Qanelas-Bold.woff") format("woff");
}
